@import "bootstrap";
@import "font-awesome";

.container {
  position: relative;
}

.alert {
  position: absolute;
  top: -20px;
  left: 70px;

  width: 800px;
  box-sizing: border-box;
}

.best_in_place {
  display: block;
  width: 168px;

  .form_in_place {
    input {
      width: 90%;
      margin-bottom: 0;
    }
  }
}
